.features {
    max-width: 1200px;
    margin: 2rem auto;
}

.featureBox {
    display: flex;
    justify-content: space-around;
    padding: 4rem 0 2rem;
    border-bottom: .5px solid #333;
}

.featureBox:last-child {
    border-bottom: 0;
}

.featureItem > div {
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.15rem;
}

.header {
    font-size: 2.75rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 1.25rem;
    text-align: center;
    margin: 0 auto;
}

.text {
    font-family: 'EBGaramond', sans-serif;
    color: inherit;
    line-height: 1.75rem;
    font-size: 1.15rem;
    letter-spacing: .5px;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}